@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #f2f8e8; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #558085; /* color of the scroll thumb */

  border-radius: 20px; /* roundness of the scroll thumb */

  border: 3px solid #f2f8e8; /* creates padding around scroll thumb */
}

input::-ms-reveal {
  display: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f7f7f7 inset;
}
